#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#companies {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#companies td, #companies th {
  border: 1px solid #ddd;
  padding: 8px;
}

#companies tr:nth-child(even) {
  background: #f2f2f2;
}

#companies tr:hover {
  background-color: #ddd;
}

#companies th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}